In [1]:
import pandas as pd
import os

In [2]:
data = "cities.csv"
cities_df = pd.read_csv(data)
cities_df.head()

,City Name,Longitude,Latitude,Max Temperature,Humidity,Cloud Coverage,Wind Speed,City Country,Date Time
0,Hobart,147.33,-42.88,53.60,93,90,2.21,AU,1597504502
1,Ushuaia,-68.30,-54.80,35.60,80,75,16.11,AR,1597504431
2,Jamestown,-79.24,42.10,79.00,73,1,8.05,US,1597504485
3,Taltal,-70.48,-25.40,62.11,49,0,5.99,CL,1597504517
4,Banda Aceh,95.32,5.56,80.89,80,29,5.19,ID,1597504715

In [3]:
cities_df.to_html('citiesweather.html')